<% for(var i = 0; i < eleve.length; i++) { %>
    <tr>
        <td><%= eleve[i].Date %> </td>
        <td><%= eleve[i].Appreciation %> </td>
        <td><%= eleve[i].Nomprof %> </td>
        <td><%= eleve[i].Matiere %> </td>
    </tr>
    <% } %>