<!DOCTYPE html>
<html>
  <head>
    <title>Acceuil</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/accueildirecteur.css" />
  </head>
  <body>
    <div class="page">
      <div class="header">
        <h1>Application de gestion scolaire</h1>
      </div>
      <p>Bienvenue Mr  <%=user.Firstname  %>  </p>
      <div class="navbar">
        <a href="/contact">Contacter l'admin</a>
        <a href="/logout">Se déconnecter</a>
      </div>
      <div class="side">
        <h2>Administration</h2>
        <ul>
          <li><a href="/staff">Le Staff Administrative</a></li>
        </ul>
        <h2>Comptabilité</h2>
        <ul>
          <li><a href="#">Les Factures</a></li>
          <li><a href="#">Les Dépenses </a></li>
          <li><a href="listedeclassescolarite">Scolarité</a></li>
        </ul>
        <img src="/images/RR.jpg" alt="IMAGE POUR LE DGR" />
        <h2><a href="index.html">Calendrier</a></h2>
      </div>
      <div class="body">
        <%- include('includes/_progressbar') %>
        
      </div>
      <div class="footer">© 2022 copyright</div>
    </div>
    <script>
      function showmore() {
        document.getElementById("girls").innerHTML =
          "Admis 29% <br>échoués  71%";
        document.getElementById("boys").innerHTML =
          "Admis 71% <br>échoués  29%";
      }
      function normalshow() {
        document.getElementById("girls").innerHTML =
          "Filles <br /><span>720</span>";
        document.getElementById("boys").innerHTML =
          "Garçon<br /><span>514</span>";
      }
    </script>
  </body>
</html>
