<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Gestion de scolarite</title>
    <link rel="stylesheet" href="/css/apropos.css" />
  </head>
  <body>
    <div class="container">
      Cette application web est interne à l'établissement ain-chock elle est
      conçue à fin de l'aider à mieux gèrer les routines de ses taches.
      <br />*******
    </div>
  </body>
</html>
