<!DOCTYPE html>
<html>
  <head>
    <title>Attestation et convocation</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/attestationconvocationaccueil.css" />
  </head>
  <body>
    <div class="flex-accueil">
      <div
        class="flex-content"
        onclick="window.location.href='listeclasseattestation'"
      >
        Attestations
      </div>
      <div
        class="flex-content"
        onclick="window.location.href='accueilconvocation'"
      >
        Convocations
      </div>
      <div class="flex-content" onclick="window.location.href='accueilsurveillant'">DASHBOARD</div>
    </div>
    <div class="footer">© 2022 copyright</div>
  </body>
</html>
