<!DOCTYPE html>
<html>
  <head>
    <title>PAGE A4</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/attestation.css" />
  </head>
  <body>
    <div class="flex-print-btn">
      <button onclick="window.print()" type="button">Imprimer</button>
    </div>

    <page size="A4">
      <img alt="logo" src="/images/logo.png" />
      <h1>Attestation D'inscription</h1>
      <p>
        Le lycée ain chock atteste que l'élève
        <span><%= eleve.nom  %>  <%=eleve.prenom  %> </span> est inscrit régulierement en classe de
        <span><%= classe.toUpperCase()  %> </span> pour le compte de l'année scolaire<span>
          2018-2019.</span
        >
      </p>
      <p>
        Cette attestation d'inscription lui est octroiyer pour valoir et servir
        ce qui est de droit.
      </p>
    </page>
  </body>
</html>
