<!DOCTYPE html>
<html>
  <head>
    <title>Bulletin</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/bulletin.css" />
  </head>
  <body>
    <div class="btn">
      <button type="button" onclick="window.print()">Imprimer</button>
    </div>
    <page size="A4">
      <div class="head-flex">
        <img id="logo" alt="logo" src="/images/logo.png" />
        <p id="Info-ecole">
          lycée privée Ain chock <br />Ain chock tarik el jadida 200100<br />Tel:060000000
          Email:lac@gmail.com
        </p>
      </div>
      <h2>BULLETIN DE NOTES DU <span>1er Trimestre</span></h2>
      <br />
      <h5>Année scolaire:<span>2021-2022</span></h5>
      <div class="info-eleve">
        <div class="info-name">
          <p>Nom:<span id="nnom">ADAMA</span></p>
          <p>Prénom:<span>Hamadou Issa</span></p>
        </div>
        <div class="info-section">
          <p>Section:<span>Terminale C</span></p>
        </div>
        <div class="photo-eleve">
          <img id="eleve" alt="eleve" src="/images/eleve.png" />
        </div>
      </div>
      <h4>Status:<span>Admis(e)</span></h4>
      <div class="corps-bulletin">
        <table>
          <tr id="th">
            <th>Matières</th>
            <th>Coeff</th>
            <th>1er Devoir</th>
            <th>2éme Devoir</th>
            <th>Moyenne</th>
            <th>Appréciation</th>
          </tr>
          <tr>
            <td>Français</td>
            <td>3</td>
          </tr>
          <tr>
            <td>Anglais</td>
            <td>2</td>
          </tr>
          <tr>
            <td>Mathèmatique</td>
            <td>4</td>
          </tr>
          <tr>
            <td>Physique-Chimie</td>
            <td>3</td>
          </tr>
          <tr>
            <td>Philosophie</td>
            <td>2</td>
          </tr>
          <tr>
            <td>Biologie</td>
            <td>3</td>
          </tr>
          <tr>
            <td>Informatique</td>
            <td>2</td>
          </tr>
          <tr>
            <td>Conduite</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>20</td>
          </tr>
        </table>
      </div>
      <h4>Le Directeur</h4>
    </page>
    <div class="footer">© 2022 copyright</div>
  </body>
</html>
