<!DOCTYPE html>
<html>
  <head>
    <title>Gestion de scolarité</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/contact.css" />
  </head>
  <body>
    <div class="container">
      <h1>Renseignez ce formulaire pour nous contacter</h1>
      <form method="post" action="#" class="form">
        <input
          type="text"
          class="form-control"
          placeholder="Veiller entrer votre nom"
          required
        /><br />
        <br />
        <input
          type="email"
          class="form-control"
          placeholder="Veiller saisir votre Email"
          required
        /><br /><br />
        <textarea rows="6" col="60" class="text">
Veillez Saisir votre message...</textarea
        ><br />
        <button class="btn btn-submit" type="submit">Envoyer</button>
      </form>
    </div>
  </body>
</html>
