<!DOCTYPE html>
<html>
  <head>
    <title>Convocation</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/convocation.css" />
    <script
      language="javascript"
      type="text/javascript"
      src="convocation.js"
    ></script>
  </head>
  <body>
    <div class="button">
      <button type="print" onclick="window.print()">Imprimer</button>
    </div>
    <page size="A4">
      <div class="info_ecole">
        <img alt="logo" src="/images/logo.png" /> Lycée Privé Ain Chock<br />
        Ain Chock Tarikk El jdida 200100<br />Tel:060000000 Email:lac@gmail.com
      </div>
      <div class="corps">
        <h2>Convocation</h2>
        <p>
          Le lycée Privé Ain chock tient à vous rappeler à honnorer votre
          engagement en vous acquitant des frais de scolarité de votre enfant
          <span>Adama Hamadou Issa</span> élève en classe de
          <span>Terminale C</span>.<br />
          En comptant sur votre sens de responsabilité veillez agréer nos
          salutations distinguées.
        </p>
      </div>
      <div class="signature">Le Directeur</div>
    </page>
  </body>
</html>
