<!DOCTYPE html>
<html>
  <head>
    <title>Classes</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/listedeclasse.css" />
  </head>
  <body>
    <div
      class="container-flex"
    >
      <div id="premiere" onclick="callpage(this.id)">
        PREMIERE
      </div>
      <div onclick="callpage(this.id)" id="seconde">
        SECONDE
      </div>
      <div onclick="callpage(this.id)" id="terminale">
        TERMINALE
      </div>
    </div>
    <script>
    function callpage(id) {
      switch (id) {
        case 'premiere':
          location.assign('/eleveattestation?id=premiere')
          break;
        case 'seconde':
          location.assign('/eleveattestation?id=seconde')
          break;
        case 'terminale':
          location.assign('/eleveattestation?id=terminale')
          break;
      
        default:
          break;
      }
    }    
    </script>
    <div class="footer">© 2022 copyright</div>
  </body>
</html>