<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestion de scolarité</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="background">
      <div class="form">
        <form id="block1" class="box" action="/login" method="post">
          <h1>CSA</h1>
          <input
            type="text"
            name="codeapogee"
            id="codeapogee"
            placeholder="BF44949990"
            required
          />
          <input
            type="date"
            name="datenaissance"
            id="datenaissance"
            required
          />
          <select name="classe" id="classe">
            <option value="premiere">PREMIERE</option>
            <option value="seconde">SECONDE</option>
            <option value="terminale">TERMINALE</option>

        </select>
  
          <input type="submit" name="" value="Connexion" />
          <div class="error">
            <div class="email error"></div>
            <div class="password error"></div>
            <div class="role error"></div>
          </div>
        </form>
      </div>
    </div>
    <script>
      const emailError = document.querySelector('.email.error')
      const passwordError = document.querySelector('.password.error')
      const roleError = document.querySelector('.role.error')
      
      block1.addEventListener('submit',async (e)=>{
      e.preventDefault()
      const formData = new FormData(block1)
      

      //reset errors
      emailError.textContent = '';
      passwordError.textContent = '';
      roleError.textContent = '';
      
      const codeapogee = formData.getAll('codeapogee')[0];
      const datenaissance = formData.getAll('datenaissance')[0];
      const classe = formData.getAll('classe')[0];
    const eleveData = {codeapogee,datenaissance,classe}

    try{
      const res = await fetch('/logintuteur',{
        method:"POST",
        headers:{ "Content-Type": "application/json"},
        body:JSON.stringify(eleveData)
      })

      const  data = await res.json()
      console.log(data);
      if (data.errors) {
        emailError.textContent = data.errors.email
        passwordError.textContent = data.errors.password
        roleError.textContent = data.errors.role
      }
      if (data.eleve) {
        console.log(data.eleve)
        location.assign('/accueiltuteur?classe='+data.classe)
      }
    }catch(err){
      console.log(err);
    }
    

    })
    </script>
  </body>
</html>
