<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestion de scolarité</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="background">
      <div class="form">
        <form id="block1" class="box" action="/login" method="post">
          <h1>CSA</h1>
          <input
            type="text"
            name="email"
            id="email"
            placeholder="Entrer votre email"
            required
          />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Entrer votre mot de passe"
            required
          />
          <select name="role" id="role">
            <option value="admin">ADMIN</option>
            <option value="directeur">DIRECTEUR</option>
            <option value="professeur">PROFESSEUR</option>
            <option value="surveillant">SURVEILLANT</option>
            <option value="comptable">COMPTABLE</option>
        </select>
          <input type="submit" name="" value="Connexion" />
          <div class="error">
            <div class="email error"></div>
            <div class="password error"></div>
            <div class="role error"></div>
          </div>
        </form>
      </div>
    </div>
    <script>
      const emailError = document.querySelector('.email.error')
      const passwordError = document.querySelector('.password.error')
      const roleError = document.querySelector('.role.error')
      
      block1.addEventListener('submit',async (e)=>{
      e.preventDefault()
      const formData = new FormData(block1)
      

      //reset errors
      emailError.textContent = '';
      passwordError.textContent = '';
      roleError.textContent = '';
      
      const email = formData.getAll('email')[0];
      const password = formData.getAll('password')[0];
      const role = formData.getAll('role')[0];
    const userData = {email,password,role}

    try{
      const res = await fetch('/login',{
        method:"POST",
        headers:{ "Content-Type": "application/json"},
        body:JSON.stringify(userData)
      })

      const  data = await res.json()
      console.log(data);
      if (data.errors) {
        emailError.textContent = data.errors.email
        passwordError.textContent = data.errors.password
        roleError.textContent = data.errors.role
      }
      if (data.user) {
        console.log(data.user)
        switch (data.role) {
        case "admin":
            location.assign("/accueiladmin")
                break;
        case "directeur":
        location.assign("/accueildirecteur");
                break;
        case "comptable":

                break;
        case "surveillant":
        location.assign("/accueilsurveillant");
                break;

        case "professeur":

            break;      
        case "principal":

            break; 
        default:
            break;
    }
      }
    }catch(err){
      //console.log(err);
    }


    /* if(role == admi){
      //window.location.href = "/accueiladmin"
    }else{
      window.location.href = "/accueildirecteur"
    } */
    

    })
    </script>
  </body>
</html>
