<!DOCTYPE html>
<htmml>
  <head>
    <title>Le staff</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/staff.css" />
  </head>
  <body>
    <div class="container-flex">
      <div class="img-flex">
        <img src="/staffimages/DIRECTEUR.jpg" alt="Le Directeur des études" />
      </div>
      <h2>
        Monsier ALI HASSAN HAROUN<br />Docteur en Maths appliquée<br />Email:ALI@gmail.com<br />Directeur
        des études du Lycée Ain chock
      </h2>
      <div class="img-flex"><img src="/staffimages/COMPTABLE.jpg" alt="Le Comptable" /></div>
      <h2>
        Monsier TIDJANI HAMID<br />Economiste<br />Email:TIDJANI@gmail.com<br />Comptable
        general du Lycée Ain chock
      </h2>
      <div class="img-flex">
        <img src="/staffimages/SURVEILLANTE.jpg" alt="Le Surveillant" />
      </div>
      <h2>
        Madame ZAMZAM ALI<br />Sociologue<br />Email:ZAMZAM@yahoo.fr<br />Surveillante
        general du Lycée Ain chock
      </h2>
      <div class="img-flex">
        <img src="/staffimages/SURVEILLANT.jpg" alt="Le Surveillant Adjoint" />
      </div>
      <h2>
        Monsier HASSAN HAROUN<br />Sociologue<br />Email:HASSAN@gmail.com<br />Surveillant
        Adjoint du Lycée Ain chock
      </h2>
    </div>
    <div class="footer">© 2022 copyright</div>
  </body>
</htmml>
