
<!-- include header -->
<%- include('includes/_headeradmin') %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/add_eleve" class="border-shadow">
                    <span class="text-gradient">Add new eleve<i class="fas fa-user"></i></span>
                </a>
            </div>

            <!-- form handling -->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Code Apogee</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Date de Naissance</th>
                            <th>Classe</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('includes/_showeleve') %>
                    </tbody>
                </table>
            </form>
            <div class="box-nav d-flex justify-between">
                <a class="border-shadow" onclick="link()">
                    <span class="text-gradient">Liste de classe<i class="fas fa-user"></i></span>
                </a>
            </div>
        </div>
    </main>
<!-- /Main Site -->
<script>
    var getCookies = function(){
  var pairs = document.cookie.split(";");
  var cookies = {};
  for (var i=0; i<pairs.length; i++){
    var pair = pairs[i].split("=");
    cookies[(pair[0]+'').trim()] = unescape(pair.slice(1).join('='));
  }
  return cookies;
}

var myCookies = getCookies();
console.log(myCookies.role);

function link() {
    location.assign('/listedeclasse')
    /* switch (myCookies.role) {
        case 'surveillant':
            location.assign('/accueilsurveillant')
            break;
        case 'directeur':
            location.assign('/accueildirecteur')
            break;
    
        default:
            break;
    } */
}
</script>

<!-- include footer -->
<%- include('includes/_footeradmin') %>
<!-- /include footer -->