
<!-- include header -->
<%- include('includes/_headeradmin') %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/addappreciation?id=<%=ideleve %> " class="border-shadow">
                    <span class="text-gradient">AJOUTER NOUVEAU<i class="fas fa-user"></i></span>
                </a>
            </div>

            <!-- form handling -->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>DATE</th>
                            <th>APPRECIATION</th>
                            <th>NOM DU PROFESSEUR</th>
                            <th>MATIERE</th>
                            <th>OPTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('includes/_showappreciation') %>
                    </tbody>
                </table>
            </form>
            <div class="box-nav d-flex justify-between">
                <a class="border-shadow" onclick="link()">
                    <span class="text-gradient">Dashboard<i class="fas fa-user"></i></span>
                </a>
            </div>
        </div>
    </main>
<!-- /Main Site -->
<script>
    var getCookies = function(){
  var pairs = document.cookie.split(";");
  var cookies = {};
  for (var i=0; i<pairs.length; i++){
    var pair = pairs[i].split("=");
    cookies[(pair[0]+'').trim()] = unescape(pair.slice(1).join('='));
  }
  return cookies;
}

var myCookies = getCookies();
console.log(myCookies.role);

function link() {
    switch (myCookies.role) {
        case 'professeur':
            location.assign('/accueilprof')
            break;
        case 'directeur':
            location.assign('/accueildirecteur')
            break;
        
    
        default:
            break;
    }
}
</script>

<!-- include footer -->
<%- include('includes/_footeradmin') %>
<!-- /include footer -->