page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}
page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}
h1 {
  margin-top: 150px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
}
span {
  color: blue;
}
.head-flex {
  display: flex;
  flex-wrap: wrap;
}
#logo {
  margin-top: 100px;
  max-width: 130px;
  max-height: 130px;
  display: block;
  margin-left: 42%;
  justify-content: center;
  width: 100%;
}
p {
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-right: 16px;
  margin-left: 16px;
  margin-top: 150px;
  margin-bottom: none;
}
button {
  color: antiquewhite;
  background-color: brown;
  border: none;
  padding: 10px;
}
.flex-print-btn {
  display: flex;
  justify-content: flex-end;
}
